
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.center-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}